<!DOCTYPE html>
<html>
  <head>
    <title>Javajiten</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/4e8f8383f8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to "TOP", root_path %>
          </li>
          <li>
            <%= link_to "記録一覧", lists_path %>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
